.place__element {
    background-color: #FFFFFF;
    max-width: 282px;
    list-style-type: none;
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    grid-template-areas:
        "image image"
        "title logo";
}

@media screen and (max-width: 930px) {
    .place__element {
        max-width: 480px;
    }
}